{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <h1>Search BRITE</h1>
    <form method="post" > <!--enctype="multipart/form-data"> -->
        {% csrf_token %}
        {{ form.as_p }}
<!--     <input type="file" name="file"> -->
        <button type="submit">Search</button>
    </form>
</div>
{% if Observations %}
    <div class='container'>
        <h1> Search Results </h1>

        {% for obs in Observations %}
            <tr>
                <td>HD {{ obs.hd_num }}</td>
                <td> {{ obs.field}}</td>
                {% if obs.availability == 'Public' %}
                    <td> Download </td>
                {% else %}
                    <td> Proprietary </td>
                {% endif %}
            </tr>
        {% endfor %}


    </div>
{% elif error %}
    <h1> Search Results </h1>
    <div class='container'>
        <h4 style="color:red;">{{ error }}</h4>
    </div>   
{% endif %}
{% endblock %}