{% extends "base.html" %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/brite_obs.css' %}">
</head>
{% block content %}
    <div class=container>
        <h1>{{ fieldno|stringformat:"02d" }}<br>{{ fieldname }}</h1>
         <br><br>
        <div>     
       
            <table class=content-table> 
                <tr>
                    <th>HD #</th>
                    <th>Name</th>
                    <th>Mag V</th>
                    <th>Sp. Type</th>
                    <th>PI</th>
                    <th>Availability</th>
                </tr>
                {% for obs in obsbystar%}
                    <tr>
                        <td><a href="{{ obs.id }}">{{ obs.hd_num }}</a></td>
                        {% if obs.star_name != None%}   
                            <td>{{ obs.star_name }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ obs.v_mag }}</td> 
                        <td>{{ obs.sp_type }}</td> 
                        <td>{{ obs.pi.last_name }}</td> 
                        {% if obs.availability == "public" %}
                            <td> <a href={{url}}>Download</a></td>
                        {% else %}
                            <td>{{ obs.availability }}</td> 
                        {% endif %}
                    </tr> 
                {% endfor %}
        </div>
    </div>
{% endblock %}