{% extends 'base.html' %}
<!-- @todo make pretty-->

{% block content %}

    <div class=container> 

        <div> 
            <h1>BRITE Observation Fields</h1>
        </div>
        <br><br>
        <table class=content-table> 
            <tr>
                <th>No.</th>
                <th>Obs ID</th>
                <th>Field Status</th>
            </tr>
            {% for field in Obsfields%}
                <tr>
                    <td>{{ field.field_no|stringformat:"02d" }}</td>   
                    <td><a href="{{ field.field_no }}/{{ field.field_name }}">{{ field.field_name }}</a></td>
                    <td>{{ field.field_status.field_status }}</td> 
                </tr>
            {% endfor %}
        </table>

    </div> 
<!--
    <div> 
        {% for field in ObsFields%}
            <h1>{{ field.field_name }}</h1>
        {% endfor %}
    </div>
-->
{% endblock %}